---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";

---
<Header/>
<MainLayout>
	<main>  
        <div class="contact-container">
            <h2 class="contact-title">CONTACT ME</h2>
            <form method="POST" id="form">

                <input type="hidden" name="access_key" value="6a45e2b5-95e1-46e1-950f-bb100ce930d3">
                
                <input type="text" name="name" required><br>
                <input type="email" name="email" required><br>
                <textarea name="message" required></textarea><br>
                <button type="submit">Submit Form</button>
                <div id="result"></div>
            
            </form>
        </div>
      
        
	</main>
</MainLayout>
<style>
    main
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100rem;
    }
    .contact-container
    {
        width:50rem;
        background-color: cadetblue;
        text-align: center;
        &>form
        {
            
        }   
    }
</style>
<script is:inline>
    const form = document.getElementById('form');
    const result = document.getElementById('result');
    
    form.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();
    
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
    
        result.innerHTML = "Please wait..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = json.message;
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Something went wrong!";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 3000);
            });
    });
    </script>