---
const {orientation, text1, text2, image1, image2} = Astro.props;
---
<section class ="about-row-container" style=`flex-direction: ${orientation !== "alt" ? "row" : "row-reverse"};`>
    <div class="about-row-image-container">
        {image1  ? 
            <img class="about-row-image" src={image1}/> :
            <img class="about-row-image" src="https://placehold.co/600x400"/>
            
        }
        {image2  ? 
            <img class="about-row-image" src={image2}/> :
            "" 
        }
        
    </div>
    <div class="about-row-text-container">
        <p class="about-row-text">
            {text1}
        </p>
        {text2 !== "" && (
            <p class="about-row-text">{text2}</p>
        )}
    </div>
</section>

<style>
    .about-row-container
    {
        display: flex;
        justify-content: space-evenly;
        padding:2rem 0 2rem 0;
        width: 90rem;

    }
    .about-row-image-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about-row-image
    {
        width:25rem;
        height: auto;
        padding: 1rem 0 1rem 0;
    }

    .about-row-text-container
    {

        font-size: 1.3rem;
        width:40rem;
        color:black;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
