---
import Layout from '../layouts/Layout.astro';

import Slideshow from '../components/index/Slideshow.astro';

import AboutRow from '../components/about/AboutRow.astro';
import Header from '../components/Header.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Header active="HOME"/>
<Layout>

	<main>
		<Slideshow/>
		<section class ="index-about">
			<AboutRow orientation="normal"/>
		</section>
		
	</main>
	
</Layout>

<style>
 .index-about
 {
	display: flex;
	justify-content: center;
 }
</style>