---
import MainLayout from '/src/layouts/MainLayout.astro';
import Header from '/src/components/Header.astro';

import FAImageLink from '/src/assets/home/fa-img.png'
import OWImageLink from '/src/assets/home/ow-img.png'
import COMImageLink from '/src/assets/home/com-img.png'
---

<Header active="HOME"/>
<MainLayout>
	<main>
		<section class ="index-about">
			<a class="index-link"  href="/forensic-art/">
				<img class="index-link-image" src={FAImageLink.src}>
				<div class="index-link-text">
					FORENSIC ART
				</div>
			</a>
			<a class="index-link"  href="/other-works/">
				<img  class="index-link-image" src={OWImageLink.src}>
				<div class="index-link-text">
					OTHER WORKS
				</div>
			</a>
			<a class="index-link" href="/commissions/">
				<img  class="index-link-image" src={COMImageLink.src}>
				<div class="index-link-text">
					COMMISSIONS
				</div>
			</a>
		</section>
	</main>
</MainLayout>

<style>
 .index-about
 {
	display: flex;
	justify-content: center;
	flex-direction: column;
 }
 .index-link
 {
	width:100%;
	height: auto;
	position:relative;

	&:hover
	{
		text-decoration: underline;
		cursor: pointer;
		opacity: 90%;
	}

 }
 
 .index-link-image
 {
	filter: brightness(40%);
	width:100%;
	height: auto;
 }
 .index-link-text
 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 5rem;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 700;
 }
</style>