---
import Header from '../components/Header.astro';
import ProjectsRow from '../components/projects/ProjectsRow.astro';
import Layout from '../layouts/Layout.astro';

---
<Header active="PROJECTS"/>
<Layout>

	<main class="projects-container">
        <ProjectsRow/>
        <ProjectsRow/>
        <ProjectsRow/>
        <ProjectsRow/>
	</main>
	
</Layout>

<style>
    .about-container
    {
        padding-top:3rem;
    }
    .projects-container
    {
        text-align: center;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>