---

---


<section class ="index-slideshow">
  <div class="index-slideshow-container">
    <div class="index-slideshow-image-item current-slide">
      <img class="index-slideshow-image" src="https://placehold.co/1000x400/black/white?text=Sample+Image+1" style="width:100%;">
    </div>
    <div class="index-slideshow-image-item">
      <img class="index-slideshow-image" src="https://placehold.co/1000x400/black/white?text=Sample+Image+2" style="width:100%;">
    </div>
    <div class="index-slideshow-image-item">
      <img class="index-slideshow-image" src="https://placehold.co/1000x400/black/white?text=Sample+Image+3" style="width:100%;">
    </div>
    <!-- <div class="index-slideshow-image-item">
      <img class="index-slideshow-image" src={image.src}  style="width:100%;">
    </div>
    <div class="index-slideshow-image-item">
      <img class="index-slideshow-image" src={image.src} style="width:100%;">
    </div> -->
</div>
  <button class="prev" onclick="slideShowControl(`prev`)" >&#10094;</button>
  <button class="next" onclick="slideShowControl(`next`)" >&#10095;</button>
</section>


<style>
* 
{
  box-sizing:border-box;
}

.index-slideshow
{
  position: relative;
}

.index-slideshow-container 
{
  width:100%
  height:auto;
  position: relative;
  margin: auto;
  display: flex;
}
.index-slideshow-image-item
{
  display:none;
  width:100%
}
.current-slide
{
  display: block;

}
.prev, .next
{
    font-size: 3rem;
    position:absolute;
    top: 50%;
    padding:0 15px 0 15px;
    width: auto;
    color: white;
    font-weight: bold;
    background-color: black;
    opacity: 50%;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.fade-out
{
  opacity:0;
  transition: opacity 300ms ease-in-out;
}
.fade-in
{
  opacity:1;
  transition: opacity 300ms ease-in-out;
}


</style>
<script is:inline>
  let slides = document.querySelectorAll('.index-slideshow-image-item')
  let slideCount = document.querySelectorAll('.index-slideshow-image-item').length;
  let currentIndex = 0;
  setInterval(slideShowControl, 10000, "next")
  function slideShowControl(command)
  {
    const nextButton = document.querySelector('.next');
    const prevButton = document.querySelector('.prev');
    nextButton.disabled = true;
    prevButton.disabled = true;

    let currentSlide = slides[currentIndex]
    let nextIndex = currentIndex;
    if (command === 'next') 
    {
      nextIndex = (currentIndex + 1) % slideCount;
    } 
    else if (command === 'prev') 
    {
      nextIndex = (currentIndex - 1 + slideCount) % slideCount;
    }
    let nextSlide = slides[nextIndex];
    currentSlide.classList.toggle('fade-out');

    const handleTransitionEnd = () => 
    {
      currentSlide.classList.remove('current-slide', 'fade-out');
    
      nextSlide.classList.add('current-slide');
    
      nextButton.disabled = false;
      prevButton.disabled = false;

   
      currentIndex = nextIndex;

      currentSlide.removeEventListener('transitionend', handleTransitionEnd);
  };

  currentSlide.addEventListener('transitionend', handleTransitionEnd);
}
</script>