---
import Footer from '../components/Footer.astro';
import '/src/styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<meta name="generator" content={Astro.generator} />
		<title>TaylorRenegade | Taylor Violet Ross</title>
		<script src="https://kit.fontawesome.com/9eb3f8336e.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="/styles/global.css" />
		<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	
	<body>
		<slot />
	</body>
	<Footer/>
</html>
